<h1 class="text-center mt-4">Add a new Movie Playlist</h1>
 <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5 col-10 mt-4">
      <div class="form-inputs">
        <%= render 'form', list: @list %>
        <div class="mt-2">
          <%= link_to 'Cancel', lists_path %>
        </div>
      </div>
    </div>
  </div>
