<h1 class="text-center">Leave a bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f|   %>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
    </div>
  </div>
</div>
