.card-index {
  background-image: url("https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg");
  width: 400px;
  background-size: cover;
  height: 400px;
  text-align: center;
  margin: auto auto;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-index {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-index{
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-index {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-title {
  color: white;
}

.card-body {
  color: black;
}

.center-link {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: large;
}
