.card-index {
  background-image: url("https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg");
  width: 400px;
  background-size: cover;
  height: 400px;
  text-align: center;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.card-title {
  color: white;
}

.card-body {
  color: black;
}

.center-link {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: large;
}
