.navbar-lewagon {
  background-color: #120F16;
  color: white;
}

.nav-link:hover {
  color: rgb(230, 224, 224) !important;
  a:hover {
    color: white;
  }
}

.navbar-nav:hover {
  color: rgb(230, 224, 224) !important;
}

.navbar-light:hover {
  color: rgb(230, 224, 224) !important;
}
