.card-show .card-body-show {
background-color: #120F16 !important;
border-radius: none !important;
border-color: black !important;
}

.card-img-top-show {
  max-width: 300px;
  max-height: 300px;
}

.card-show-body {
  background-color: #2e15286b;
  margin-bottom: 20px;
  padding-inline: 0;
}

.info-film {
  margin-top: 30px;
}

body {
  background-color: #120F16 !important;
}

.info-top {
  text-align: center;
}

.card-body-show {
  color: white !important;
  padding-left: 10px;
}
