.card-show .card-body-show {
background-color: #120F16 !important;
border-radius: none !important;
border-color: black !important;
}

.card-img-top-show {
  max-width: 300px;
  max-height: 300px;
}

.card-show-body {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  padding-inline: 0;
}

.info-film {
  margin-top: 30px;
}

body {
  background-color: #120F16 !important;
}
